api = <%= @api_location %>
gis = <%= @gis_location %>
welcomeText = <p>Welcome to the NBN Gateway. The previous version of the NBN Gateway is no longer being updated but can still be accessed <a href="http://old-data.nbn.org.uk/">here</a>.</p>